{
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "object-curly-spacing": ["warn", "always"],
    "semi": ["warn", "always"],
    "space-infix-ops": ["warn", { "int32Hint": false }],
    "no-trailing-spaces": "warn",
    "no-multi-spaces": "warn",
    "no-multiple-empty-lines": ["warn", { "max": 1 }],
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-double"],
    "space-before-blocks": ["warn", "always"],
    "keyword-spacing": "warn",
    "operator-linebreak": ["warn", "before"],
    "indent": ["warn", 4, { "SwitchCase": 1 }],
  }
}
