WALLET_APP = X.X.X
CLOUD _WALLET = X.X.X
VC = X.X.X
OIDC = X.X.X
DATA_ACCESS = X.X.X
NOTIFICATION_MANAGER = X.X.X
TOKENIZER = X.X.X
DISTRIBUTED_STORAGE = X.X.X
AUDITABLE_ACCOUNTING = X.X.X
SCM = X.X.X
BESU = X.X.X
SEMANTIC_ENGINE = X.X.X
BACKPLANE_API = X.X.X
SDK-RI = 2.9.1
WEB-RI = X.X.X
