$primary: #06b0f0;
$secondary: #035178;
$success: #89c886;
$danger: #c1272d;
$warning: #ffc107;
$info: #06b0f0;
$border-radius: 10px;
$border-radius-lg: 20px;
$border-radius-sm: 20px;
$navbar-nav-link-padding-x: 15px;

@import "node_modules/bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

hr { width: 100%; }

.navbar {
    background-color: $gray-100;
}

footer small.flex-grow-1 {
    font-size: 10px;
}

.nav-link.active {
    color: $primary !important;
}

.pagination {
    margin-top: 1em;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-lightgray {
    background-color: $gray-200;
}

.text-darkblue {
    color: #0B4166;
}

.text-lightgray{
    color: $gray-400
}

.bg-lightcyan {
    background-color: #E6EEF0;
}

.breadcrumbs ol {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    text-transform: capitalize;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs ol li+li:before {
    padding: 8px;
    color: $gray-500;
    content: "/\00a0";
}

.breadcrumbs li:not(:last-child) a {
    color: $gray-500;
}

.nav-tabs .nav-link {
    color: $gray-500;
}

.nav-tabs .nav-link.active {
    color: black !important;
}

.text-tiny {
    font-size: 0.75rem;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.h3rem {
    height: 3rem;
}

.dropdown-toggle::after {
    //display: none !important;
}

.welcome-card {
    background: url(/img/homepage_banner_background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dropdown-custom{
    width: 200px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    height: 325px;
    border-radius: 10px;
    background: $light;
}

.formLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.formGroup {
    margin-bottom: 0;
    margin-right: 20px;
}

.formUserInput {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.formBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
}

.formBtn {
    width: 100px;
}

.ratingMargins {
    margin-top: -12px;
    margin-bottom: -10px;
}