$primary: #06b0f0;
$secondary: #035178;
$success: #89c886;
$danger: #c1272d;
$warning: #ffc107;
$info: #06b0f0;
$border-radius: 10px;
$border-radius-lg: 50px;
$border-radius-sm: 20px;
$navbar-nav-link-padding-x: 15px;

@import "node_modules/bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

.navbar {
    background-color: $gray-100;
}

footer small.flex-grow-1 {
    // font-size: 8px;
    font-size: 10px;
}

.nav-link.active {
    color: $primary !important;
}

.pagination {
    margin-top: 1em;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-lightgray {
    background-color: $gray-200;
}

.text-darkblue {
    color: #0B4166;
}

.text-lightgray{
    color: $gray-400
}

.bg-lightcyan {
    background-color: #E6EEF0;
}

.breadcrumbs ol {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    text-transform: capitalize;
}

.breadcrumbs li {
    display: inline;
}

.breadcrumbs ol li+li:before {
    padding: 8px;
    color: $gray-500;
    content: "/\00a0";
}

.breadcrumbs li:not(:last-child) a {
    color: $gray-500;
}

.text-tiny {
    font-size: 0.75rem;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}

.h3rem {
    height: 3rem;
}

.welcome-card {
    background: url(/img/card_welcome_wth_logo.png) no-repeat center center;
    // background: url(/img/card_welcome@4x.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dropdown-custom{
    width: 200px;
}
